body{
    background: #c9c9c9;
        font-family: 'Montserrat', sans-serif;
}
header{
    background:#053f5c ;
    height:50px;
    width: 1400px;
    color: #9fe7f5;
    font-size: 25px;
    padding: auto;
    
}

.texto{
    font-size: 20px;
    text-align: center;  
    color: #053f5c;
    margin-top: 15px;
}

.conocimientos{
    margin-top: 100px;
    margin-left: 300px;  
    margin-bottom:150px;

}
h1{
    font-size: 35px;
    background-color: #9fe7f5;
    text-align: center;
}
.programacion, .desarrollo, .herramientas{
    padding:auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

label img{
    height: 120px;
    width: 120px;
}

@media screen and (max-width:480px) {
 
    header, nav a, label img {
        width: auto;
    }
    nav{
        position: static;
    }
    nav a{
        font-size: 10px;
    }
   h1{
    font-size: 20px;
   }
    .conocimientos{
        margin:auto;
    }
    
}
