body{
    background: #c9c9c9;;
    font-family: 'Montserrat', sans-serif;
    
}
header{
    background: #053f5c;
    height:50px;
    width: 1400px;
}



h1{
    font-size: 35px;
    background-color: #9fe7f5;
    text-align: center;
}
h2{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}
p{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 15px;

}
p img{
    width: 250px;
    height: 180px;
}
.certificado{
    height: 300px;
    width: auto;
    margin-left: 100px;
    margin-bottom: 15px;
}
.certificado2{
    text-decoration: none;
    color: #9fe7f5;
    font-size: 25px;
}
button{
    height: 50px;
    width: 350px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #3e5f8a;
    text-decoration: none;
    color: #9fe7f5;
    border-color: whitesmoke;
    transition: 3s, background;
}
button:hover{
    background-color:#053f5c

}

@media screen and (max-width:480px) {
    header, nav a, label img {
        width: auto;
    }
    nav{
        position: static;
    }
    nav a{
        font-size: 15px;
    }
    h2{
        font-size: 25px;
        margin-top: 25px;
        font-weight: bold;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size:18px;
    }
    h2,p {
        margin-left: 15px;
    }
    .certificado{
        width: 100%;
        height: auto;
        margin: auto;
    }
    button{
    
        margin-left: 5px;     
    }
}