body{
    background:#c9c9c9;;
        font-family: 'Montserrat', sans-serif;
}
header{
    background:#053f5c ;
    height:50px;
    color: #9fe7f5;
    font-size: 25px;
    padding: auto;
    
}
h1{
    font-size: 35px;
    background-color: #9fe7f5;
    text-align: center;
}
h2{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}
p{
    font-size: 20px;
    margin-left: 250px;
    margin-right: 250px;
}
.links{
    width: 100px;
    height: 100px;
}
.redes{
    margin: 400px;
    text-decoration: none;
    justify-content: center;
    
}
button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #3e5f8a;
    text-decoration: none;
    color: #9fe7f5;
    border-color: whitesmoke;
    transition: 3s, background;
}
button:hover{
    background-color:#053f5c
    
}
@media screen and (max-width:480px){
    
        header, nav a, label img {
            width: auto;
        }
        nav{
            position: static;
        }
        nav a{
            font-size: 10px;
        }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
        font-weight: bold;
        
    }
        p{
            margin-left: 10px;
            margin-right: 10px;
        }
        .redes{
            margin-left: 10px;
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
        button{
            margin-left: 5px;
            
        }
    }
